@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*{ padding: 0; margin: 0; box-sizing: 
}

body{
    background-color: #e1e6e7;
}
.container{
max-width: 1200px;
margin: 0 auto; /* Centralizando o conteúdo*/
list-style: none;
}
.products-wrapper{
    display: flexbox ;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.products-wrapper ul{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    list-style: none;
}
.products-wrapper ul li{
    width: 20%;
    height: 400px;
    display: flex;
    align-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 16px;
    padding: 19px;
}
.menu {
width: 100%;
background: #ffffff;
box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
}
.menu-flex {
display: flex;
align-items: center;
}
.menu-column {
display: flex;
align-items: center;
width: 50%;
justify-content: flex-start;
}

.menu-column.menu-second-column {
justify-content: flex-end;
}

.menu-nav ul {
display: flex;
list-style: none;
gap: 10px; /* Vamos utilizar essa propriedade do flex para colocar um espaçamento entre os elementos*/
}

.menu-nav ul li a {
text-decoration: none;
color: #585e65;
margin-left: 20px;
font-family: 'Inter', sans-serif;
font-weight: 400;
}

.menu-link-button {
text-decoration: none;
height: 44px;
background-color: #4c6ef5;
color: #fff;
padding: 0 32px;
display: flex;
align-items: center;
border-radius: 4px;
font-family: 'Inter', sans-serif;
font-weight: 500;
}

button{
    background-color: #1971C2;
    border: none;
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #1864AB;
}
figure{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
ul li p{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
figure img{
    width: 210px;
    height: 180px;
}